#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
  filter: drop-shadow(0 0 2em #1f72ca);
}
.logo.wallet:hover {
  filter: drop-shadow(0 0 2em #486380);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-group {
  display: flex;
  gap: 10px;
  align-items: flex-end
}

.balance {
  margin-top: 40px;
  user-select: none;
}

.balance-group {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: flex-end
}

.net-group {
  display: flex;
  justify-content: center;
}

.net-group > input, .net-group > label {
  cursor: pointer;
}

.net-radio {
  font-size: 1.5em;
}

.net-label {
  margin: 0px 30px 0px 5px;
}

.get-private-key-btn {
  font-size: 19px !important;
}

.get-private-key-btn[disabled] {
  border: none;
}

input {
  font-size: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  a .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
